*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

main{
    flex: 1;
    padding: 1rem;
    text-align: center;
}

.modal-body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal-body input{
    width: 100px;
}

.modal-body textarea{
    width: 300px;
    height: 250px;
    resize: none;
    padding: 0.5rem;
}

.contenedor-buscar{
    margin-bottom: 1rem;
}

.contenedor-textarea{
    border-top: 1px dashed black;
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
}

.table{
    margin-top: 1rem;
}

form{
    border: 1px solid black;
    border-radius: 25px;
    padding: 1rem;
    margin: auto;
    margin-bottom: 1rem;
}

footer{
    background-color: #2C5C80;
    padding: 1rem;
}

/* Mobile */
@media (max-width: 451px) {
    form{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .filtro-palabra{
        margin-bottom: 1rem;
    }
}

/* Tablet */
@media (min-width: 451px) and (max-width: 830px) {
    form{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 400px;
    }

    .filtro-palabra{
        margin-bottom: 1rem;
    }
}

/* Desktop */
@media (min-width: 831px){
    form{
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 800px;
    }
}