// Del lado de servidor en la mayoria de los casos se crea un archivo .env donde se 
// almacenan las variables de entorno y son las accedidas con "process.env", por ejemplo process.env.PORT


PORT=3000